.Scene {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  background-image: url("./hidden_game.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.Bob_thoughtful {
  position: fixed;
  border-radius: 50%;
  top: 80%;
  left: 5%;
}

.Bob_thoughtful:hover {
  cursor: pointer;
  border: 3px solid white;
}

.Help {
  position: fixed;
  left: 300px;
  bottom: 80px;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 10px;
}

.cup {
  position: fixed;
  right: 40%;
  bottom: 39%;
}

.telephone {
  position: fixed;
  right: 81%;
  bottom: 34%;
}

.vase {
  position: fixed;
  left: 6%;
  top: 4%;
}

.wallet {
  position: fixed;
  left: 5%;
  bottom: 23%;
  width: 5%;
  height: 10%;
}
